<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link href="/css/default.css" rel="stylesheet">
</head>
<body>
<div id="container">
    <h1>회원가입</h1>
    <form action="/member/join" method="post" th:object="${joinForm}">
        <table>
            <tr>
                <th>아이디</th>
                <td>
                    <input th:field="*{member_id}" type="text">
                    <div th:errorClass="error" th:errors="*{member_id}"></div>
                </td>
            </tr>
            <tr>
                <th>패스워드</th>
                <td>
                    <input th:field="*{password}" type="password">
                    <div th:errorClass="error" th:errors="*{password}"></div>
                </td>
            </tr>
            <tr>
                <th>이름</th>
                <td>
                   	<input th:field="*{name}" type="text">
                    <div th:errorClass="error" th:errors="*{name}"></div>
                </td>
            </tr>
            <tr>
                <th>성별</th>
                <td>
					<th:block th:each="gender : ${T(com.example.order.model.member.GenderType).values()}" >
						<label th:for="${#ids.next('gender')}">[[${gender.description}]]</label>
						<input type="radio" th:field="*{gender}" th:value="${gender}">
                    </th:block>
                    <div th:errorClass="error" th:errors="*{gender}"></div>
                </td>
            </tr>
             <tr>
                <th>생일</th>
                <td>
                   	<input th:field="*{birth}" type="date">
                    <div th:errorClass="error" th:errors="*{birth}"></div>
                </td>
            </tr>
             <tr>
                <th>이메일</th>
                <td>
                   	<input th:field="*{email}" type="email">
                    <div th:errorClass="error" th:errors="*{email}"></div>
                </td>
            </tr>
        </table>
        <p>
        <div class="center">
            <input onclick="location.href='/'" type="button" value="메인으로">
            <input type="submit" value="회원가입">
            <input type="reset" value="다시작성">
        </div>
    </form>
</div>
</body>
</html>