<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>메인 페이지</title>
    <link href="/css/default.css" rel="stylesheet">
</head>
<body>
<div id="container">
    <h1>메인 페이지</h1>
    <th:block sec:authorize="isAnonymous()">
        <input onclick="location.href='member/join'" type="button" value="회원가입">
        <input onclick="location.href='member/login'" type="button" value="로그인">
        <input onclick="location.href='/oauth2/authorization/google'" type="button" value="구글 로그인">
        <input onclick="location.href='/oauth2/authorization/kakao'" type="button" value="카카오 로그인">
    </th:block>
    
    <th:block sec:authorize="isAuthenticated()">
        <div sec:authentication="principal.member.name">님 환영합니다.
        <br></div>
        <input onclick="location.href='member/logout'" type="button" value="로그아웃">
        <input onclick="location.href='product/products'" type="button" value="상품목록">
        <input onclick="location.href='order/myOrders'" type="button" value="주문내역">
    </th:block>
    
    <div sec:authorize="isAuthenticated()">
		이 텍스트는 인증을 완료한 사용자만 볼 수 있습니다.<br>
		로그인 유저 아이디: <span sec="authentication="name></span>
		<ul>
			<il>로그인 유저 아이디: <span sec:authentication="name"></span></il><br>
			<il>유저 정보: <span sec:authentication="principal"></span></il><br>
			<il>권한 정보: <span sec:authentication="principal.authorities"></span></il><br>
		</ul>
	</div>
	
	<div sec:authorize="hasRole('ROLE_ADMIN')">
		이 텍스트는 ADMIN 권한을 가진 사람만 볼 수 있습니다.
	</div>
	
	<div sec:authorize="hasRole('ROLE_USER')">
		이 텍스트는 USER 권한을 가진 사람만 볼 수 있습니다.
	</div>
</div>
</body>
</html>